#logotipo{
	width:141px;
	height:80px;
	left:0px;
	top:0px;
	position:absolute;
	background-image:url(img/logo.gif);
	z-index:20;
	}

#titulo{
	width:440px;
	height:51px;
	left:200px;
	top:10px;
	position:absolute;
	background-image:url(img/titulo.gif);
	}

#titulo_seccion{
	width:530px;
	height:20px;
	left:155px;
	top:37px;
	position:absolute;
	text-align:center;
}

#adorno_arriba{
	width:183px;
	height:106px;
	left:130px;
	top:60px;
	position:absolute;
	background-image:url(img/adorno_arriba.gif);
	z-index:12;
}

#adorno_abajo{
	width:183px;
	height:106px;
	left:630px;
	top:540px;
	position:absolute;
	background-image:url(img/adorno_abajo.gif);
	z-index:18;
}

a {color:#003399; font-weight:bold; text-decoration:none;}

a:hover{ color:#003399; font-weight:bold; text-decoration:underline;}

img {
	border:2px;
	border-color:#999999;
	}

#cuerpo {
	width:650px;
	height:505px;
	left:160px;
	top:105px;
	position:absolute;
	z-index:20;
	overflow:auto;
	}
#foto_bic {
	left: 240px;
	top: 50px;
	position: absolute;
	width: 408px;
}

#botonera {
	width:140px;
	height:500px;
	top:95px;
	position:absolute;
	float:left;
	margin:0px;
	}
#botonera_pequeña {
	position:absolute;
	width:650px;
	height:21px;
	top:60px;
	left:155px;
	z-index:19;
}
	
#escuela {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:0px;
	background-image:url(img/boton_escuela.gif);
	}

#localizacion {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:5px;
	background-image:url(img/boton_localizacion.gif);
	}

#alfabetico {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:10px;
	background-image:url(img/boton_alfabetico.gif);
	}

#numerico {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:15px;
	background-image:url(img/boton_numerico.gif);
	}

#tipologico {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:20px;
	background-image:url(img/boton_tipologico.gif);
	}
	
#contactos {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:25px;
	background-image:url(img/boton_contactos.gif);
	}

#enlaces {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:30px;
	background-image:url(img/boton_enlaces.gif);
	}
	
#agradecimientos {
	height:45px;
	width:139px;
	position:relative;
	left:0px;
	top:35px;
	background-image:url(img/boton_agradecimientos.gif);
	}
	
#patrocinadores {
	height:80px;
	width:139px;
	position:relative;
	left:0px;
	top:40px;
	background-image:url(img/patrocinadores.gif);
	}
	
#pie {
	height:21px;
	width:580px;
	position:absolute;
	left:170px;
	top:620px;
	background-image:url(img/pie.gif);
	}
		
.enlaces{
	font-family:"Arial Narrow", Arial;
	font-size:14px;
	color:#003399;
	}
.enlaces2{
	font-family:"Arial Narrow", Arial;
	font-size:12px;
	color:#003399;
	}
.normal{
	font-family:"Arial Narrow", Arial;
	font-size:14px;
	color:#003399;
}

.negrita {
	font-family:"Arial Narrow", Arial;
	font-size:14px;
	color:#003399;
	font-weight:bold;
}
.titulo {
	font-family:"Arial Narrow", Arial;
	color:#003399;
	font-size:18px;
	font-weight:bold;
	}
.pie_foto{
	font-family:"Arial Narrow", Arial;
	font-size:12px;
	color:#003399;
}
.titulo1 {
	font-family:"Arial Narrow", Arial;
	color:#003399;
	font-size:16px;
	font-weight:bold;
	}
